<!DOCTYPE html>
{% load markdownify %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projects</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url "show_my_tasks" %}">My Tasks</a>
                        </li>
                        <li>
                            <a href="{% url "list_projects" %}">My Projects</a>
                        </li>
                        <li>
                            <a href="{% url "logout" %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url "login" %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url "signup" %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1> {{ projects.name }} </h1>
                {{ projects.description|markdownify }}
                <h2>Tasks</h2>
                <p>
                    <a href="{% url "create_task" %}"> Create a new task</a>
                </p>
                {% if projects.tasks.all|length > 0 %}
                    <table>
                        <thead>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </thead>
                        {% for task in projects.tasks.all %}
                            <tbody>
                                <td> {{ task.name }} </td>
                                <td> {{ task.assignee }} </td>
                                <td> {{ task.start_date }} </td>
                                <td> {{ task.due_date }} </td>
                                {% if task.is_completed == True %}
                                    <td> Yes </td>
                                {% else %}
                                    <td> No </td>
                                {% endif %}
                            </tbody>
                        {% endfor %}
                    </table>
                {% else %}
                    <p> This project has no tasks </p>
                {% endif %}
            </div>
        </main>
    </body>
</html>
